.next-button{
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  color: #15573F;
  background-color: transparent;
  border: 1px solid #15573F;
  border-radius: 30px;
  padding: 10px 0px;
  word-spacing: 3px;
  cursor: pointer;
  width: 120px;
}

.next-arrow {
  height: 20px;
}

.back-arrow {
  height: 20px;
  transform: rotate(-180deg)
}

.buy-button {
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #15573F;
  background-color: transparent;
  border: 1px solid #15573F;
  border-radius: 30px;
  padding: 13px 55px;
  word-spacing: 3px;
  cursor: pointer; 
}

.buy-button:hover{
  color: white;
  background: #15573F;
}

.button-choice{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: #6e6e6e;
  height: 165px;
  width: 185px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sun-chosen-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fd9872;
  box-shadow: rgb(253, 152, 114, 0.35) -3px 15px 10px 0px;
  color: white;
  height: 165px;
  width: 185px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.water-chosen-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7baf9e;
  box-shadow: rgb(123, 175, 158, 0.35) -3px 15px 10px 0px;
  color: white;
  height: 160px;
  width: 180px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.water-chosen-button > img {
  height: 50px;
  margin: 30px 0px 25px 0px
}

.sun-chosen-button > img{
  height: 50px;
  margin: 30px 0px 25px 0px
}

.button-choice > img {
  height: 50px;
  margin: 30px 0px 25px 0px
}

.send-button{
  margin-top: 28px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #15573F;
  background-color: transparent;
  border: 1px solid #15573F;
  border-radius: 30px;
  padding: 12px 42px;
  word-spacing: 3px;
  cursor: pointer;
}

/* RESPONSIVITY 1920 */

@media only screen and (min-width: 1920px) {

  .button-choice {
    height: 245px;
    width: 265px;
    border-radius: 5px;
    font-size: 18px;
  }

  .sun-chosen-button{
    height: 245px;
    width: 265px;
    border-radius: 5px;
    font-size: 18px;
  }

  .water-chosen-button{
    height: 245px;
    width: 265px;
    font-size: 18px;
  }

  .water-chosen-button > img {
    height: 70px;
    margin: 60px 0px 45px 0px
  }
  
  .sun-chosen-button > img{
    height: 70px;
    margin: 60px 0px 45px 0px
  }
  
  .button-choice > img {
    height: 70px;
    margin: 60px 0px 45px 0px
  }

  .next-button{
    font-size: 18px;
    border-radius: 30px;
    padding: 18px 0px;
    word-spacing: 3px;
    cursor: pointer;
    width: 160px;
  }

  .buy-button {
    margin-top: 15px;
    font-size: 18px;
    border-radius: 30px;
    padding: 17px 85px;
    word-spacing: 3px; 
  }

  .send-button{
    margin-top: 10px;
    font-size: 18px;
    border-radius: 30px;
    padding: 18px 50px;
  }

}

/* RESPONSIVITY MAC B00K */

@media only screen and (min-width: 1440px) {

  .button-choice {
    height: 225px;
    width: 245px;
    border-radius: 5px;
    font-size: 15px;
  }

  .sun-chosen-button{
    height: 225px;
    width: 245px;
    border-radius: 5px;
    font-size: 15px;
  }

  .water-chosen-button{
    height: 225px;
    width: 245px;
    font-size: 15px;
  }

  .water-chosen-button > img {
    height: 70px;
    margin: 60px 0px 45px 0px
  }
  
  .sun-chosen-button > img{
    height: 70px;
    margin: 60px 0px 45px 0px
  }
  
  .button-choice > img {
    height: 70px;
    margin: 60px 0px 45px 0px
  }

  .next-button{
    font-size: 18px;
    border-radius: 30px;
    padding: 18px 0px;
    word-spacing: 3px;
    cursor: pointer;
    width: 160px;
    margin-top: 55px;
  }

  .buy-button {
    margin-top: 15px;
    font-size: 18px;
    border-radius: 30px;
    padding: 15px 65px;
    word-spacing: 3px; 
  }

  .send-button{
    margin-top: 10px;
    font-size: 18px;
    border-radius: 30px;
    padding: 18px 55px;
  }
}
