.next-button{
  margin-top: 40px;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  color: #15573F;
  background-color: transparent;
  border: 1px solid #15573F;
  border-radius: 30px;
  padding: 10px 0px;
  word-spacing: 3px;
  cursor: pointer;
  width: 120px;
}

.buy-button {
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  color: #15573F;
  background-color: transparent;
  border: 1px solid #15573F;
  border-radius: 30px;
  padding: 10px 40px;
  word-spacing: 3px;
  cursor: pointer; 
}

.buy-button:hover{
  color: white;
  background: #15573F;
}

.next-button:hover{
  color: white;
  background: #15573F;
}

.button-choice{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: #6e6e6e;
  height: 165px;
  width: 185px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sun-chosen-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fd9872;
  box-shadow: rgb(253, 152, 114, 0.35) -3px 15px 10px 0px;
  color: white;
  height: 165px;
  width: 185px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.water-chosen-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7baf9e;
  box-shadow: rgb(123, 175, 158, 0.35) -3px 15px 10px 0px;
  color: white;
  height: 160px;
  width: 180px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.water-chosen-button > img {
  height: 50px;
  margin: 30px 0px 25px 0px
}

.sun-chosen-button > img{
  height: 50px;
  margin: 30px 0px 25px 0px
}

.button-choice > img {
  height: 50px;
  margin: 30px 0px 25px 0px
}