body{
  background-color:#f6f6f6;
}

.sunQuizz-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6e6e6e;
}

.sunQuizz-container > img {
  height: 95px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.sunQuizz-container > h1 {
  font-size: 23px;
  font-weight: 400;
  width: 370px;
  text-align: center;
  margin-bottom: 30px
}

.buttons-container{
  display: flex;
  justify-content: center;
}

.next-button-container{
  width: 600px;
  display: flex;
  justify-content: space-between;
}


.logo{
  height: 20px;
  position: absolute;
  transform: rotate(270deg);
  top: 115px;
  left: -15px;
}

.side-line{
  border-left: 1px solid #6e6e6e;
  height: 300px;
  position: absolute;
  left: 67px;
  top:230px;
}