body{
  background-color:#f6f6f6;
}

.quizz-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6e6e6e;
}

.sun-illustration {
  height: 95px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.water-illustration {
  height: 90px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.pet-illustration {
  height: 73px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.hand-illustration {
  height: 80px;
  margin-top: 30px;
  margin-bottom: 10px;
}


.h1-container {
  font-size: 23px;
  font-weight: 400;
  width: 370px;
  text-align: center;
  margin-bottom: 50px
}

.pick-h1-container{
  font-size: 45px;
  color:#0c261c;
  font-weight: 700;
  margin-top: 2px;
}

.quizz-container > p {
  font-size: 10px;  
  margin-bottom: 50px;
}

.buttons-container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.pet-buttons-container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 390px;
}

.choice-buttons-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.next-button-container{
  width: 100%;
  max-width: 100;
  display: flex;
  justify-content: space-between;
}


.logo{
  height: 20px;
  position: absolute;
  transform: rotate(270deg);
  top: 115px;
  left: -15px;
}

.side-line{
  border-left: 1px solid #6e6e6e;
  height: 300px;
  position: absolute;
  left: 67px;
  top:230px;
}

.pet-h1-container{
  font-size: 23px;
  font-weight: 400;
  width: 500px;
  text-align: center;
  margin-bottom: 20px
}

.plants-container{
  /* background-color: red; */
  width: 700px;
}

.plants-container > ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px;
}

.plant-buy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:white;
  width: 210px;
  height: 280px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.plant-buy-container:hover{
  box-shadow: rgb(0, 0, 0, 0.1) -3px 15px 10px 0px;
}

.plant-buy-container > img {
  height: 140px;
}

.plant-buy-container > p {
  color: #15573F;
  font-weight: 700;
  font-size: 13px
}

.price-status-container{
  font-size: 12px;
}