body{
  background-color:#f6f6f6;
}

.quizz-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6e6e6e;
}

.sun-illustration {
  height: 100px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.water-illustration {
  height: 100px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.pet-illustration {
  height: 75px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.hand-illustration {
  height: 90px;
  margin-top: 35px;
  margin-bottom: 35px;
}


.sun-h1-container {
  font-size: 24px;
  font-weight: 400;
  width: 370px;
  text-align: center;
  margin-bottom: 55px
}

.water-h1-container {
  font-size: 24px;
  font-weight: 400;
  width: 370px;
  text-align: center;
  margin-bottom: 55px
}

.pet-h1-mobile-container {
  display: none;
}

.pet-h1-container{
  font-size: 30px;
  font-weight: 400;
  width: 700px;
  text-align: center;
  margin-bottom: 15px
}

.pick-h1-container{
  font-size: 55px;
  color:#0c261c;
  font-weight: 700;
  margin-top: 2px;
  margin-bottom: 50px
}

.quizz-container > p {
  font-size: 13px;  
  margin-bottom: 50px;
}

.buttons-container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 610px;
}

.pet-buttons-container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 390px;
}

.pet-choice-buttons-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.choice-buttons-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.next-button-container{
  width: 100%;
  max-width: 100;
  display: flex;
  justify-content: space-between;
}

.logo-mobile {
  display: none;
}

.logo{
  height: 23px;
  position: absolute;
  transform: rotate(270deg);
  top: 120px;
  left: -20px;
}

.side-line{
  border-left: 1px solid #6e6e6e;
  height: 55vh;
  position: absolute;
  left: 73px;
  top: 255px;
}

.plants-container{
  /* background-color: red; */
  width: 770px;
}

.plants-container > ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px;
}

.plant-buy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:white;
  width: 230px;
  height: 275px;
  margin-bottom: 45px;
  border-radius: 5px;
}

.plant-buy-container:hover{
  box-shadow: rgb(0, 0, 0, 0.1) -3px 15px 10px 0px;
}

.plant-buy-container > img {
  height: 140px;
}

.plant-informations-container {
  width: 173px;
  display: flex;
  flex-direction: column;
}

.plant-informations-container > p {
  color: #15573F;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 10px;
}

.price-status-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.status-container > img {
  height: 20px;
  margin-right: 8px;
}

/* RESPONSIVITY 1920 */

@media only screen and (min-width: 1920px){

  .logo-mobile {
    display: none;
  }

  .logo{
    height: 28px;
    top: 180px;
    left: -20px;
  }
  
  .side-line{
    height: 55vh;
    left: 98px;
    top: 340px;
  }
  

  .sun-illustration {
    height: 150px;
    margin-top: 80px;
  }

  .water-illustration {
    height: 150px;
    margin-top: 80px;
  }
  
  .pet-illustration {
    height: 110px;
    margin-top: 100px;
    margin-bottom: 60px;
  }
  
  .hand-illustration {
    height: 135px;
    margin-top: 80px;
    margin-bottom: 35px;
  }

  .sun-h1-container {
    font-size: 35px;
    width: 490px;
    line-height: 50px;
  }

  .water-h1-container {
    font-size: 35px;
    width: 490px;
    line-height: 50px;
  }

  .pet-h1-mobile-container {
    display: none;
  }

  .pet-h1-container{
    font-size: 40px;
    width: 900px;
    margin-bottom: 30px
  }

  .quizz-container > p {
    font-size: 18px;  
    margin-bottom: 80px;
  }

  .buttons-container {
    width: 870px;
  }

  .pet-buttons-container{
    width: 570px;
  }

  .pick-h1-container{
    font-size: 80px;
    margin-top: 2px;
    margin-bottom: 100px
  }

  .plants-container{
    /* background-color: red; */
    width: 1100px;
  }

  .plant-buy-container {
    width: 320px;
    height: 400px;
    margin-bottom: 45px;
    border-radius: 5px;
  }

  .plant-buy-container > img {
    height: 220px;
  }

  .plant-informations-container {
    width: 245px;
  }

  .plant-informations-container > p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .price-status-container{
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .status-container > img {
    height: 25px;
    margin-right: 12px;
  }

}


/* RESPONSIVITY MAC B00K */

@media only screen and (min-width: 1440px) {

  .logo-mobile {
    display: none;
  }
  
  .logo{
    height: 28px;
    top: 180px;
    left: -20px;
  }
  
  .side-line{
    height: 55vh;
    left: 98px;
    top: 340px;
  }

  .sun-illustration {
    height: 130px;
    margin-top: 80px;
  }

  .water-illustration {
    height: 130px;
    margin-top: 80px;
  }
  
  .pet-illustration {
    height: 95px;
    margin-top: 80px;
    margin-bottom: 60px;
  }
  
  .hand-illustration {
    height: 125px;
    margin-top: 80px;
    margin-bottom: 35px;
  }

  .sun-h1-container {
    font-size: 30px;
    width: 480px;
    line-height: 50px;
  }

  .water-h1-container {
    font-size: 30px;
    width: 480px;
    line-height: 50px;
  }

  .pet-h1-mobile-container {
    display: none;
  }

  .pet-h1-container{
    font-size: 35px;
    width: 900px;
    margin-bottom: 30px
  }

  .quizz-container > p {
    font-size: 16px;  
    margin-bottom: 60px;
  }

  .buttons-container {
    width: 820px;
  }

  .pet-buttons-container{
    width: 525px;
  }

  .pick-h1-container{
    font-size: 65px;
    margin-top: 2px;
    margin-bottom: 100px
  }

  .plants-container{
    /* background-color: red; */
    width: 950px;
  }

  .plant-buy-container {
    width: 280px;
    height: 380px;
    margin-bottom: 45px;
    border-radius: 5px;
  }

  .plant-buy-container > img {
    height: 200px;
  }

  .plant-informations-container {
    width: 205px;
  }

  .plant-informations-container > p {
    font-size: 18px;
    margin-bottom: 13px;
  }

  .price-status-container{
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .status-container > img {
    height: 25px;
    margin-right: 12px;
  }

}

/* MOBILE RESPONSIVITY */

@media only screen and (max-width: 500px) {

  .quizz-big-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .logo-mobile {
    display: flex;
    margin-top: 30px;
    height: 25px;
  }

  .logo{
   display: none;
  }
  
  .side-line{
    display: none;
  }

  .quizz-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6e6e6e;
    width: 100vw;
  }

  .sun-h1-container {
    width: 74%;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .water-h1-container {
    width: 80%;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .buttons-container{
    width: 100vw;
  }

  .choice-buttons-container{
    flex-direction: column;
    align-items: center;
    height: 320px;
    width: 100vw;
  }

  .pet-choice-buttons-container {
    flex-direction: column;
    align-items: center;
    height: 210px;
    width: 100vw;
  }

  .next-button-container {
    flex-direction: column-reverse;
    align-items: center;
    width: 100vw;
  }

  .pet-illustration {
    height: 90px;
    margin-bottom: 50px;
  }

  .pet-h1-container {
    display: none;
  }

  .pet-buttons-container{
    width: 100vw;
  }

  .pet-h1-mobile-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .pet-h1-mobile-container > h1 {
    font-weight: 200;
    font-size: 26px;
    line-height: 40px;
  }

  .quizz-container > p {
    width: 80vw;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
  }

  .hand-illustration{
    margin-top: 50px
  }

  .pick-h1-container{
    font-size: 45px;
    width: 80vw;
    text-align: center;
    margin-bottom: 30px;
  }

  .plants-container {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100vw;
  }

  .plants-container > ul {
    width: 550vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
  }

  .plant-buy-container {
    width: 300px;
    height: 400px;
    box-shadow: rgb(0, 0, 0, 0.05) -3px 25px 25px 0px;
    margin: 0px 20px 0px 10px
  }

  .plant-buy-container > img {
    height: 60%;
  }

  .plant-informations-container {
    width: 80%;
  }

  .plant-informations-container > p {
    font-size: 120%;
  }

  .price-status-container {
    font-size: 100%;
  }

  .status-container > img {
    height: 30px;
    margin-left: 15px;
  }
}