*{
  font-family: 'Montserrat';
  outline: none;
  margin: 0px;
  padding: 0px;
}

.home-container {
  display: flex;
}

.logo-container{
  margin: 50px 0px 0px 170px;
}

.start-quizz{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 118px;
  text-decoration: none;
  background-color: #15573f;
  color: white;
  font-weight: 700;
  font-size: 15px;
  padding: 14px 22px;
  border-radius: 30px
}

.start-quizz:hover {
  box-shadow: rgb(21, 87, 63, 0.2) -3px 7px 10px 0px;
}

.start-quizz > img {
  height: 20px;
}

.logo-container > h1 {
  width: 360px;
  font-weight: 700;
  font-size: 60px;
  color: #0c261c;
  letter-spacing: 1px;
  line-height: 64px;
  margin-bottom: 35px;
}

.logo-container > img{
  height: 25px;
  margin-bottom: 95px;
}

#illustration-home{
  height: 100vh;
  width: 61vw;
  background-image: url(../../images/illustrations/illustration-home.png);
  background-position-y: 10px;
  background-repeat: no-repeat;
  background-size: 680px;
}

/* RESPONSIVITY 1920 */

@media only screen and (min-width: 1920px) {

  .logo-container{
    margin: 100px 0px 0px 220px;
  }

  .logo-container > h1 {
    width: 500px;
    font-size: 80px;
    margin-bottom: 35px;
    line-height: 95px;
  }

  .logo-container > img{
    height: 30px;
    margin-bottom: 120px;
  }

  .start-quizz{
    width: 185px;
    text-decoration: none;
    padding: 18px 22px;
    border-radius: 50px;
    font-size: 20px;
  }

  .start-quizz > p{
    margin-right: 20px;
  }

  .start-quizz > img {
    height: 28px;
  }

  #illustration-home{
    height: 100vh;
    width: 55vw;
    background-image: url(../../images/illustrations/illustration-home.png);
    background-position-y: 35px;
    background-repeat: no-repeat;
    background-size: 1000px;
  }
}

/* RESPONSIVITY MAC B00K */

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  
  .logo-container{
    margin: 180px 0px 0px 150px;
  }

  .logo-container > h1 {
    width: 400px;
    font-size: 65px;
    margin-bottom: 35px;
    line-height: 75px;
  }

  .logo-container > img{
    height: 25px;
    margin-bottom: 90px;
  }

  #illustration-home{
    height: 100vh;
    width: 60vw;
    background-image: url(../../images/illustrations/illustration-home.png);
    background-position-y: 181px;
    background-repeat: no-repeat;
    background-size: 800px;
  }

  .start-quizz{
    width: 140px;
    text-decoration: none;
    padding: 16px 22px;
    border-radius: 50px;
    font-size: 15px;
  }

  .start-quizz > p{
    margin-right: 15px;
  }

  .start-quizz > img {
    height: 20px;
  }
}

/* MOBILE RESPONSIVITY */

@media only screen and (max-width: 500px) {

  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 0px 0px;
    height: 38vh;
  }

  .logo-container > img{
    height: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .logo-container > h1 {
    width: 330px;
    font-size: 35px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 45px;
  }

  .start-quizz{
    width: 43vw;
    padding: 20px 22px;
    font-size: 20px;
  }

  .start-quizz > p{
    font-size: 18px;
    margin-right: 13px;
  }

  .start-quizz > img {
    height: 20px;
  }

  .image-container {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  #illustration-home{
    height: 62vh;
    width: 100vw;
    background-image: url(../../images/illustrations/illustration-home-mobile.png);
    background-position-x: -20px;
    background-position-y: 60px;
    background-repeat: no-repeat;
    background-size: 380px;
  }
}