*{
  font-family: 'Montserrat';
  outline: none;
  margin: 0px;
  padding: 0px;
}

.home-container {
  display: flex;
}

.logo-container{
  margin: 50px 0px 0px 170px;
}

.start-quizz{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 118px;
  text-decoration: none;
  background-color: #15573f;
  color: white;
  font-weight: 700;
  font-size: 15px;
  padding: 14px 22px;
  border-radius: 30px
}

.start-quizz:hover {
  box-shadow: rgb(21, 87, 63, 0.2) -3px 7px 10px 0px;
}

.start-quizz > img {
  height: 20px;
}

.logo-container > h1 {
  width: 360px;
  font-weight: 700;
  font-size: 60px;
  color: #0c261c;
  letter-spacing: 1px;
  line-height: 64px;
  margin-bottom: 35px;
}

.logo-container > img{
  height: 25px;
  margin-bottom: 85px;
}

.image-container > img{
  height: 600px;
  position: fixed;
  top:24px;
  left: 515px;
}

@media only screen and (max-width: 1920px) {

  .logo-container{
    margin: 100px 0px 0px 220px;
  }

  .logo-container > h1 {
    width: 600px;
    font-size: 80px;
    margin-bottom: 35px;
    line-height: 95px;
  }

  .logo-container > img{
    height: 30px;
    margin-bottom: 120px;
  }

  .image-container > img{
    height: 900px;
    top: 32px;
    left: 720px;
  }

  .start-quizz{
    width: 185px;
    text-decoration: none;
    padding: 18px 22px;
    border-radius: 50px;
    font-size: 20px;
  }

  .start-quizz > p{
    margin-right: 20px;
  }

  .start-quizz > img {
    height: 28px;
  }
}