.purchase-container{
  display: flex;
  justify-content: space-between;
  background-color:white;
  height: 100vh;
}

.purchase-logo{
  height: 23px;
  position: absolute;
  transform: rotate(270deg);
  top: 165px;
  left: -20px;
}

.purchase-side-line{
  border-left: 1px solid #6e6e6e;
  height: 45vh;
  position: absolute;
  left: 73px;
  top: 295px;
}

.purchase-plant-container{
  padding: 80px 0px 0px 240px;
  height: 80vh;
}

.purchase-plant-container > h1 {
  font-size: 40px;
  width: 300px;
  color: #0c261c
}

.purchase-plant-container > h3 {
  font-size: 25px;
  font-weight: 200;
  color: #d6d6d6;
}

.purchase-plant-container > img {
  height: 250px;
  margin-bottom: 0px;
}

.purchase-plant-container > p {
  color: #6e6e6e;
  margin-bottom: 20px;
}

.purchase-plant-status {
  display: flex;
  height: 100px;
}

.purchase-status-image-plant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between
}

.purchase-status-image-plant > img {
  height: 22px;
}

.purchase-status-text-plant {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: space-between;
  margin-left: 10px;
}

.purchase-status-text-plant > p {
  color: #6e6e6e;
}

.purchase-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  margin-right: 250px;
  margin-top: 80px;
  height: 80vh;
  width: 28vw;
}

.purchase-form-text-container {
  width: 70%;
}

.purchase-form-text-container > h1 {
  font-size: 35px;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #0c261c;
}

.purchase-form-p {
  width: 250px;
  color: #6e6e6e;
  line-height: 30px;
  margin-bottom: 20px;
}

.purchase-form-input-title {
  font-size: 15px;
  color: #6e6e6e;
  margin-bottom: 10px;
}

.input-title-error {
  font-size: 15px;
  color: red;
  margin-bottom: 10px;
}

.purchase-form-input {
  border: none;
  padding: 12px 0px 12px 20px; 
  border-radius: 30px;
  width: 100%;
  margin-bottom: 10px;
}

::placeholder {
  padding-left: 20px;
  color: #d6d6d6;
}

.purchase-button-container {
  display: flex;
  flex-direction: row-reverse;
  width: 70%;
}

.input-error {
  border: none;
  padding: 12px 0px 12px 20px; 
  border-radius: 30px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid red;
}

.error {
  font-size: 13px;
  color: red;
  margin-left: 20px;
  margin-bottom: 5px;
}

.purchase-form-send {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchase-form-send > p {
  text-align: center;
  width: 80%;
  color: #6e6e6e;
  line-height: 30px;
  margin-bottom: 20px;
}

.purchase-form-send > h1 {
  font-size: 35px;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #0c261c;
}

.purchase-form-send > img {
  height: 200px;
}
/* 1920 RESPONSIVITY */

@media only screen and (min-width: 1920px) {

  .purchase-logo{
    height: 30px;
    top: 240px;
    left: -5px;
  }
  
  .purchase-side-line{
    height: 40vh;
    left: 118px;
    top: 440px;;
  }

  .purchase-plant-container{
    padding: 160px 0px 0px 350px;
    height: 80vh;
  }

  .purchase-plant-container > h1 {
    font-size: 60px;
    width: 300px;
  }

  .purchase-plant-container > h3 {
    font-size: 30px;
  }

  .purchase-plant-container > img {
    height: 300px;
  }

  .purchase-status-text-plant {
    margin-left: 18px;
    height: 120px;
  }

  .purchase-status-image-plant {
    height: 120px;
  }

  .purchase-status-image-plant > img {
    height: 25px;
  }

  .purchase-form-container {
    margin-right: 400px;
    margin-top: 160px;
    height: 65vh;
    width: 25vw;
  }

  .purchase-form-text-container > h1 {
    font-size: 45px;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  .purchase-form-p {
    font-size: 20px;
    width: 300px;
    line-height: 30px;
    margin-bottom: 50px;
  }

  .purchase-form-input-title {
    font-size: 20px;
  }

  .input-title-error {
    font-size: 20px;
    color: red;
  }

  .purchase-form-input {
    padding: 18px 18px;
    width: 90%; 
    border-radius: 30px;
    margin-bottom: 30px;
  }

  .input-error {
    padding: 18px 18px;
    width: 90%; 
    border-radius: 30px;
    margin-bottom: 30px;
    border: 1px solid red; 
  }

  .error {
    margin-bottom: 20px;
  }

  .purchase-form-send > p {
    text-align: center;
    font-size: 20px;
    width: 80%;
    line-height: 30px;
    margin-bottom: 50px;
  }
  
  .purchase-form-send > h1 {
    font-size: 45px;
    margin-top: 60px;
    margin-bottom: 15px;
  }

}

/* MACBOOK RESPONSIVITY */

@media only screen and (min-width: 1440px) and (max-width: 1919px) {

  .purchase-logo{
    height: 30px;
    top: 240px;
    left: -5px;
  }
  
  .purchase-side-line{
    height: 35vh;
    left: 120px;
    top: 420px;;
  }

  .purchase-plant-container{
    padding: 120px 0px 0px 300px;
    height: 80vh;
  }

  .purchase-plant-container > h1 {
    font-size: 60px;
    width: 300px;
  }

  .purchase-plant-container > h3 {
    font-size: 30px;
  }

  .purchase-plant-container > img {
    height: 300px;
  }

  .purchase-status-text-plant {
    margin-left: 18px;
    height: 120px;
  }

  .purchase-status-image-plant {
    height: 120px;
  }

  .purchase-status-image-plant > img {
    height: 25px;
  }
  
  .purchase-form-p {
    font-size: 20px;
    width: 300px;
    line-height: 30px;
    margin-bottom: 45px;
  }

  .purchase-form-container {
    margin-right: 150px;
    margin-top: 120px;
    height: 70vh;
    width: 50vh;
  }

  .purchase-form-text-container {
    height: 85%;
  }

  .purchase-form-text-container > h1 {
    font-size: 45px;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  .purchase-form-input-title {
    font-size: 20px;
  }

  .input-title-error {
    font-size: 20px;
    color: red;
  }

  .purchase-form-input {
    padding: 18px 18px;
    width: 90%; 
    border-radius: 30px;
    margin-bottom: 10px;
  }

  .input-error {
    padding: 18px 18px;
    width: 90%; 
    border-radius: 30px;
    margin-bottom: 10px;
    border: 1px solid red;
  }

  .error {
    margin-bottom: 10px;
  }

  .purchase-form-send > p {
    text-align: center;
    font-size: 20px;
    width: 80%;
    line-height: 30px;
    margin-bottom: 45px;
  }
  
  .purchase-form-send > h1 {
    font-size: 45px;
    margin-top: 60px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 500px) {

  .purchase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
  }

  .purchase-logo{
    transform: rotate(0deg);
    top: 30px;
    left: auto;
  }
  
  .purchase-side-line{
    display: none;
  }

  .purchase-plant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 0px 0px 0px 0px;
    height: auto;
    overflow-x: hidden;
  }

  .purchase-plant-container > h1 {
    margin: 130px 0px 5px 10px
  }

  .purchase-plant-container > h3 {
    width: 100vw;
    padding-left: 75px;
  }

  .purchase-plant-container > img{
    height: 300px;
    margin-bottom: 40px;
  }

  .purchase-plant-status {
    width: 100vw;
    height: 125px;
    margin-bottom: 50px
  }

  .purchase-status-image-plant {
    margin-left: 30px;
  }

  .purchase-status-image-plant > img {
    height: 30px;
  }

  .purchase-status-text-plant > p {
    font-size: 20px
  }

  .purchase-form-container {
    margin: 0px 0px 0px 0px;
    width: 100vw;
    height: auto;
  }

  .purchase-form-text-container {
    width: 100vw;
  }

  .purchase-form-input {
    width: 70%;
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
  }

  .input-error {
    border: 1px solid red;
    width: 70%;
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
  }

  .purchase-form-text-container > h1 {
    margin-left: 30px;
  }

  .purchase-form-input-title {
    margin-left: 30px;
    font-size: 22px;
  }

  .input-title-error {
    margin-left: 30px;
    font-size: 22px;
    color: red;
  }

  .purchase-form-p {
    margin-left: 30px;
    font-size: 22px;
    margin-bottom: 40px;
  }

  .purchase-button-container {
    justify-content: center;
    width: 100vw;
    margin-bottom: 30px;
  }

  .error {
    margin-left: 30px;
    font-size: 15px;
    margin-bottom: 40px;
  }

  .purchase-form-send > p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    width: 95%;
  }
  
}