.purchase-container{
  display: flex;
  justify-content: space-between;
  background-color:white;
  height: 100vh;
}

.purchase-logo{
  height: 23px;
  position: absolute;
  transform: rotate(270deg);
  top: 165px;
  left: -20px;
}

.purchase-side-line{
  border-left: 1px solid #6e6e6e;
  height: 45vh;
  position: absolute;
  left: 73px;
  top: 295px;
}

.purchase-plant-container{
  padding: 80px 0px 0px 240px;
  height: 80vh;
}

.purchase-plant-container > h1 {
  font-size: 40px;
  width: 300px;
  color: #0c261c
}

.purchase-plant-container > h3 {
  font-size: 25px;
  font-weight: 200;
  color: #d6d6d6;
}

.purchase-plant-container > img {
  height: 250px;
  margin-bottom: 0px;
}

.purchase-plant-container > p {
  color: #6e6e6e;
  margin-bottom: 20px;
}

.purchase-plant-status {
  display: flex;
  height: 100px;
}

.purchase-status-image-plant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between
}

.purchase-status-image-plant > img {
  height: 22px;
}

.purchase-status-text-plant {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: space-between;
  margin-left: 10px;
}

.purchase-status-text-plant > p {
  color: #6e6e6e;
}

.purchase-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  margin-right: 250px;
  margin-top: 80px;
  height: 75vh;
  width: 28vw;
}

.purchase-form-text-container {
  width: 70%;
}

.purchase-form-text-container > h1 {
  font-size: 35px;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #0c261c;
}

.purchase-form-text-container > p {
  width: 250px;
  color: #6e6e6e;
  line-height: 30px;
  margin-bottom: 20px;
}

.purchase-form-text-container > h2 {
  font-size: 15px;
  color: #6e6e6e;
  margin-bottom: 10px;
}

.purchase-form-text-container > input {
  border: none;
  padding: 12px 0px 12px 20px; 
  border-radius: 30px;
  width: 100%;
  margin-bottom: 10px;
}

::placeholder {
  padding-left: 20px;
  color: #d6d6d6;
}

.purchase-button-container {
  display: flex;
  flex-direction: row-reverse;
  width: 70%;
}


@media only screen and (min-width: 1920px) {

  .purchase-logo{
    height: 30px;
    top: 240px;
    left: -5px;
  }
  
  .purchase-side-line{
    height: 40vh;
    left: 118px;
    top: 440px;;
  }

  .purchase-plant-container{
    padding: 160px 0px 0px 350px;
    height: 80vh;
  }

  .purchase-plant-container > h1 {
    font-size: 60px;
    width: 300px;
  }

  .purchase-plant-container > h3 {
    font-size: 30px;
  }

  .purchase-plant-container > img {
    height: 300px;
  }

  .purchase-status-text-plant {
    margin-left: 18px;
    height: 120px;
  }

  .purchase-status-image-plant {
    height: 120px;
  }

  .purchase-status-image-plant > img {
    height: 25px;
  }
  
  .purchase-status-text-plant > p {
    font-size: 20px;
  }

  .purchase-form-container {
    margin-right: 400px;
    margin-top: 160px;
    height: 65vh;
    width: 25vw;
  }

  .purchase-form-text-container > h1 {
    font-size: 45px;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  .purchase-form-text-container > p {
    font-size: 20px;
    width: 300px;
    line-height: 30px;
    margin-bottom: 50px;
  }

  .purchase-form-text-container > h2 {
    font-size: 20px;
  }

  .purchase-form-text-container > input {
    padding: 18px 18px;
    width: 90%; 
    border-radius: 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {

  .purchase-logo{
    height: 30px;
    top: 240px;
    left: -5px;
  }
  
  .purchase-side-line{
    height: 35vh;
    left: 120px;
    top: 420px;;
  }

  .purchase-plant-container{
    padding: 120px 0px 0px 300px;
    height: 80vh;
  }

  .purchase-plant-container > h1 {
    font-size: 60px;
    width: 300px;
  }

  .purchase-plant-container > h3 {
    font-size: 30px;
  }

  .purchase-plant-container > img {
    height: 300px;
  }

  .purchase-status-text-plant {
    margin-left: 18px;
    height: 120px;
  }

  .purchase-status-image-plant {
    height: 120px;
  }

  .purchase-status-image-plant > img {
    height: 25px;
  }
  
  .purchase-status-text-plant > p {
    font-size: 20px;
  }

  .purchase-form-container {
    margin-right: 150px;
    margin-top: 120px;
    height: 68vh;
    width: 50vh;
  }

  .purchase-form-text-container > h1 {
    font-size: 45px;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  .purchase-form-text-container > p {
    font-size: 20px;
    width: 300px;
    line-height: 30px;
    margin-bottom: 45px;
  }

  .purchase-form-text-container > h2 {
    font-size: 20px;
  }

  .purchase-form-text-container > input {
    padding: 18px 18px;
    width: 90%; 
    border-radius: 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {

}